{% extends "base.html" %}
{% load static %}
{% load myfilter %}
{% block content %}
<link rel="stylesheet" href="{% static 'event/index.css' %}">
<main>
    <div class="events-banner" style="background-image: url('{% static "/images/conference-evenement-unsplash.jpg" %}')">
        <h2>Nous organisons constamment des évènements pour vous accompagner dans l'atteinte de vos objectifs</h2>
    </div>
    <div class="star-div">
        {% for _ in "xxxxx"|rjust:"10" %}
        <svg height="50" width="50" xmlns="http://www.w3.org/2000/svg" fill="var(--color2)" viewBox="0 0 24 24">
            <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z"/>
          </svg>
          
        {% endfor %}

    </div>
    <hr>
    <section>
        <ul class="events-ul">
            {% for event in events %}
            <a href="{% url 'event:detail' event.id %}">
                <li class="one-event-li {% cycle 'event-odd' 'event-even' %}">
                    <div class="event-img" style="background-image: url('{{ event.illustration_image.url }}')"></div>
                    <div class="event-description">
                        <h2>{{ event.title }}</h2>
                        <p>{{ event.subtitle }}</p>
                        <button>En savoir plus</button>
                    </div>
                </li>
            </a>
            {% empty %}
              <p>Aucun évènement disponible</p>
            {% endfor %}
            <hr>
            <div class="pagination">
                <span class="step-links">
                    {% if events.has_previous %}
                    <a href="?page=1">&laquo; Première page</a>
                    <a href="?page={{ events.previous_page_number }}">Page précédente</a>
                    {% endif %}
    
                    <span class="current">
                        Page {{ events.number }} sur {{ events.paginator.num_pages }}.
                    </span>
    
                    {% if events.has_next %}
                    <a href="?page={{ events.next_page_number }}">Page suivante</a>
                    <a href="?page={{ events.paginator.num_pages }}">Dernière page &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </ul>


    </section>
</main>
{% endblock %}