{% load static %}

<link rel="stylesheet" href="{% static 'Nova_tech/css/footer.css' %}">


<footer class="uk-footer uk-section uk-section-secondary">
  <div class="uk-container">
    <div class="uk-grid-medium uk-child-width-1-4@s" uk-grid>
      <div>
        <h4>À propos</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div>
        <h4>Contact</h4>
        <ul class="uk-list">
          <li><a href="#">Adresse</a></li>
          <li><a href="#">Téléphone</a></li>
          <li><a href="#">Email</a></li>
        </ul>
      </div>
      <div>
        <h4>Contact</h4>
        <ul class="uk-list">
          <li><a href="#">Adresse</a></li>
          <li><a href="#">Téléphone</a></li>
          <li><a href="#">Email</a></li>
        </ul>
      </div>
      <div>
        <h4>Suivez-nous</h4>
        <div class="uk-flex ">
          <a href="#" class="uk-icon-link uk-icon-link-large uk-margin-small-right" uk-icon="icon: twitter"></a>
          <a href="#" class="uk-icon-link uk-icon-link-large uk-margin-small-right" uk-icon="icon: facebook"></a>
          <a href="#" class="uk-icon-link uk-icon-link-large uk-margin-small-right" uk-icon="icon: instagram"></a>
          <a href="#" class="uk-icon-link uk-icon-link-large uk-margin-small-right" uk-icon="icon: github"></a>
<!--          <a href="#" class="uk-icon-link" uk-icon="icon: mail"></a>-->
          <a href="#" class="uk-icon-link uk-icon-link-large uk-margin-small-right" uk-icon="icon: linkedin"></a>
        </div>
      </div>
    </div>
    <div class="uk-text-center uk-margin-top">
      <p>&copy; 2024 Novatech. Tous droits réservés.</p>
    </div>
  </div>
</footer>
