
{% load static %}

<link rel="stylesheet" href="{% static 'Nova_tech/css/header.css' %}">

<header>
    <nav class="uk-navbar-container">

        <div class="uk-container">

            <div uk-navbar>
    
                <div class="uk-navbar-left">
                    <a href="/">
                    <img class="header-logo" src='{% static "Nova_tech/images/logo-final-blanc-slim.png" %}' alt="">
                    </a>
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="/">Accueil</a></li>
                        <li><a href="">Nos services</a></li>
                        <li><a href="#">Mission et vision</a></li>
                        <li><a href="#">Nos réalisations</a></li>
                        <li><a href="{% url 'event:index' %}">Évènements</a></li>
                        <li><a href="{% url 'contact:index' %}">Contact</a></li>
                    </ul>
    
                </div>
    
                <div class="uk-navbar-right">
    
                        <a class="contact-us-cta" href="#">Nous contacter <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                          </svg>
                          </a>
                </div>
    
            </div>
        </div>
    </nav>

</header>