
{% load static %}

<link rel="stylesheet" href="{% static 'Nova_tech/css/header.css' %}">

<header>
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>
    
                <div class="uk-navbar-left">
    
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="/">Accueil</a></li>
                        <li><a href="">Nos services</a></li>
                        <li><a href="#">Mission et vision</a></li>
                        <li><a href="#">Nos réalisations</a></li>
                        <li><a href="{% url 'event:index' %}">Évènements</a></li>
                        <li><a href="{% url 'contact:index' %}">Contact</a></li>
                    </ul>
    
                </div>
    
                <div class="uk-navbar-right">
    
                        <a class="contact-us-cta" href="#">Nous contacter</a>
                </div>
    
            </div>
        </div>
    </nav>

</header>