.errorlist{
    color: red;
}

#required{
    background-color: black;
}

.message-form {
    background-color: red;
}

.nom, .mail, #envoyer {
    width: 50%;
    padding: 1%;
    margin: 2%;
}

#envoyer{
    width: 52%;
    padding: 2%;
    text-transform: capitalize;
    background-color: brown;
    

}
/* .lefte,.righte{
    float: left;
} */
.supcont{
    display: flex;
    /* background-color: red !important; */
    padding: 5%;
}
.message{
    height: 50px;
}