

:root {

    --title-font-family: Montserrat, sans-serif;
    --subtitle-font-family: Montserrat, sans-serif;
    --content-font-family: Montserrat, sans-serif;
    

    --color1: #0f006c;
    --color2: #16009f;
    --color3: #1e00d2;
    --color4: #2906ff;
    --color5: #816cff;
    --color6: #ac9fff;
    --color7: #d8d2ff;
    

    --second-color1: #04344d;
    --second-color2: #00638d;
    --second-color3: #00bfff;
    --second-color4: #75deff;

}


