

:root {

    --title-font-family: Montserrat, sans-serif;
    --subtitle-font-family: Montserrat, sans-serif;
    --content-font-family: Montserrat, sans-serif;
    

    --color1: rgb(3, 6, 55);
    --color2: rgb(60, 7, 83);
    --color3: rgb(114, 4, 85);
    --color4: rgb(145, 10, 103);
    

    --second-color1: #04344d;
    --second-color2: #00638d;
    --second-color3: #00bfff;
    --second-color4: #75deff;

}


