

.sub-home-banner {
    position: relative;
    height: 400px;
    padding: 20px 10%;
    background-size: contain;
    box-sizing: content-box;
    /* margin-bottom: 20px; */
}

.home-banner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 10px 5%;
    box-sizing: border-box;
    /* background-color: var(--color2); */
    background: linear-gradient(20deg, var(--color2) 40%, transparent 100%);
    background: linear-gradient(90deg, var(--color2) 40%, transparent 100%);
    display: flex;
    align-items: center;
}





.home-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.home-banner h1 {
    color: white;
    font-weight: bold;
}



.home-banner p {
    width: 45%;
    color: rgba(255, 255, 255, 0.6);
}





/*************************************************************  
    POURQUOI NOVATECH ?
***************************************************************/


.why-us-div {
    height: 600px;
    /* margin: 10px; */
    padding: 50px;
    box-sizing: content-box;
    /* border-radius: 20px; */
    background-color: rgba(15, 0, 108, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* opacity: 0.1; */
    /* overflow: hidden; */
    background-color: white;
}

.why-us-left-div {
    width: 40%;
}

.home_promary_description {
  font-size: 30px;
}

.why-us-right-div {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 340px 230px;
    gap: 10px;
    box-sizing: border-box;
    width: 54%;
    /* overflow: hidden; */
    /* flex: 2; */

}

.home_title_h2 {
    font-size: 60px;
    color: var(--color1);
    font-weight: bold;
    text-shadow: 2px 2px 1px 2px rgb(199, 199, 199), -6px -6px 5px 2px var(--color1);
    text-shadow: rgba(0,0,0,0.4) 3px 3px 3px;

}


.e-card {
    /* margin: 100px auto; */
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 340px;
    height: 230px;
    border-radius: 16px;
    overflow: hidden;
    /* background-color: red; */
  }
  
  .wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
    background: linear-gradient(744deg,var(--color5),var(--color3) 60%,var(--color1));
  }
  
  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }
  
  .infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    /* background-color: green; */
  }

  
.infotop p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }






.home_services_nedd {
  padding: 100px 50px;
  box-sizing: border-box;
  background-color: rgba(15, 0, 108, 0.1);
  /* margin: 50px 0px; */
  /* background-color: red; */
}


.home-services-div {
    border-radius: 30px;
    height: 700px;
    /* background: linear-gradient(70deg, var(--color1) 2%, var(--color5) 40%); */
    /* width: 100%; */
    /* margin: auto; */
    padding: 40px;
    position: relative;
    /* margin: 50px; */
    box-sizing: border-box;
    /* overflow: hidden; */
  box-shadow: var(--color3) 3px 3px 3px;
  background-color: white;

    
}

.home-services-div svg {
  border-radius: 30px;
  
}


.svg_wave_1 {
  bottom: 0px;
  right: 0px;
  z-index: 3;
  position: absolute;
  /* background-color: red; */
  /* width: 2000px; */
}

.svg_wave_2 {
  bottom: 20px;
  right: 0px;
  z-index: 4;
  position: absolute;
  /* opacity: 0.5; */

}

.svg_wave_3 {
  bottom: 40px;
  right: 0px;
  z-index: 5;
  position: absolute;

}

.sub_ordi_fusee_up_div {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  height: 80%;
  width: 100%;
  padding: 20px;
  /* box-shadow: var(--color3) 3px 3px 3px; */
box-sizing: border-box;
}


.sub_ordi_fusee_up_div > div {
  display: flex;
  justify-content: space-between;
  height: 90%;
  flex-direction: row;
  /* width: 100%; */
  /* background-color: red; */
  box-sizing: border-box;
  gap: 20px;
}

.ordi_fusee_up_div {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 3;
}


.sub_ordi_fusee_up_div > div p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 4;
  padding: 10px;
  border-top: 5px solid var(--color3);
}


.home_security_div {
  width: 100%;
  background-color: white;
  padding: 60px 40px;
  box-sizing: border-box;
}

.home_security_div > div {
    display: flex;
    gap: 5%;
}

.home_security_div_left {
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: center;

}

.home_security_div_left p {
  /* font-size: 30px; */

}

.image_security_home_div {
  height: 500px;
  /* width: 200px; */
  background-size: contain;
  background-repeat: no-repeat;
  flex: 3;
}

.sub_discuss_project_div {
  padding: 80px 40px;
  padding-right: 0px;
}

.discuss_project_div {
  background-color: var(--color1);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 20px;
  display: flex;

}

.image_discuss_project {
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 2;
}

.discuss_project_div_right_div {
  display: flex;
  flex-direction: column;
  flex: 3;
  align-items: start;
  justify-content: space-around;
}

.discuss_project_div_right_div h2 {
  color: white;
  font-size: 60px;
  font-weight: bold;
  /* text-shadow: 2px 2px 1px 2px rgb(199, 199, 199), -6px -6px 5px 2px var(--color1); */
  text-shadow: rgba(215, 215, 215, 0.9) 1px 1px 1px;

}


.discuss_project_div_right_div a {
  border-radius: 60px;
  padding: 20px 80px;
  /* background-color: ; */
  color: white;
  border: 5px solid white;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.3s all ease;
  font-size: 20px;

}

.discuss_project_div_right_div a svg {
  transform: rotate(90deg);
  transition: 0.3s all ease;

}

.discuss_project_div_right_div a:hover svg {
  transform: rotate(0deg);
  transition: 0.3s all ease;
}

.discuss_project_div_right_div a:hover {
  text-decoration: none;
}