{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'Nova_tech/css/style.css' %}">

<div class="sub-home-banner" style="background-image: url('static/Nova_tech/images/HomePage1-1.png');">
    <div class="home-banner">
        <h1>BIENVENUE SUR NOTRE SITE</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem id nulla nisi voluptatem aliquid veritatis assumenda rem culpa itaque dolor qui fugiat ipsam eos sequi, mollitia aut corporis distinctio minima.</p>
    </div>
</div>

<!-- <div>

</div> -->


<div class="home-services-div">

    <h2>Vous avez besoin d'une solution digitale ?</h2>
</div>


{% endblock %}

