{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'Nova_tech/css/missions.css' %}">
 <!-- Section Mission -->
  <section class="uk-section mission">
    <div class="uk-container">
      <h2  class="uk-heading-medium properties">Notre Mission</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales, lorem vel aliquet luctus, est dui ullamcorper dolor, ac dignissim nunc elit sit amet lectus. In vitae laoreet sapien, at consequat tellus. Vivamus ultricies aliquam neque, eu auctor elit tristique et. Sed id ligula sapien. Pellentesque auctor, nisl id consequat hendrerit, nulla risus pellentesque metus, in gravida lectus purus ut justo.</p>
    </div>
  </section>

  <!-- Section Vision -->
  <section class="uk-section ">
    <div class="uk-container">
      <h2 class="uk-heading-medium properties">Notre Vision</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales, lorem vel aliquet luctus, est dui ullamcorper dolor, ac dignissim nunc elit sit amet lectus. In vitae laoreet sapien, at consequat tellus. Vivamus ultricies aliquam neque, eu auctor elit tristique et. Sed id ligula sapien. Pellentesque auctor, nisl id consequat hendrerit, nulla risus pellentesque metus, in gravida lectus purus ut justo.</p>
    </div>
  </section>

{% endblock %}