
main {
    /* height: 600px; */
    /* clip-path: ; */
    /* background-color: green; */
    
}

.events-banner {
    width: 100%;
    height: 600px;
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    clip-path: polygon(0px 0px, 100% 0px, 100% 90%, 50% 100%, 0px 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-banner h2 {
    color: var(--color4);
    color: white;
    width: 60%;
    font-weight: bold;
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, 1) 3px 10px 5px;
    text-align: center;
}


.star-div {
    display: flex;
    justify-content: center;
}

.events-ul {
    list-style: none;
    padding: 50px 10%;
    /* background-color: red; */
}

.events-ul > a:hover {
    text-decoration: none;

}

.one-event-li {
    /* width: 100%; */
    height: 200px;
    display: flex;
    align-items: center;
    /* justify-content: stretch; */
    /* padding: 20px; */
    margin: 5px 0px;
    gap: 20px;
    box-sizing: border-box;
    transition: 0.3s all ease;

}


.one-event-li:hover {
    scale: 1.01;
    transition: 0.3s all ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px 0px;
}

.one-event-li:hover button {
    cursor: pointer;
}

.event-odd {
    flex-direction: row;
    background-color: var(--second-color1);
    color: white;

}

.event-even {
    flex-direction: row-reverse;
}

.event-img {
    height: 100%;
    width: 300px;
    background-position: center;
    background-size: cover;
    /* background-color: red; */
    /* padding: 5px; */
}

.event-description h2 {
    font-weight: bold;
}

.event-description button {
    padding: 5px 25px;
    border-radius: 15px;
    border: none;

}



.event-odd .event-description h2 {
    color: white;
}

.event-even .event-description button {
    color: white;
    background-color: var(--second-color1);
    /* background-color: white; */
}

.event-even .event-description h2 {
    color: var(--second-color1);
}

.event-even .event-description p {
    color: rgba(0, 0, 0, 0.5);
}

