{% load static %}

<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'contact/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/css/uikit.min.css" />
</head>
<body>
    <div class="uk-container">
        {% block image %}

        
        {% endblock %}
        <div class="uk-column-1-2 uk-column-divider uk-placeholder ">
            {% block infoperso %}

        
            {% endblock %}
            
                {% block formulaire%}
        
                {% endblock %}
        </div>
        
        

        {% block citation %}

        
        {% endblock %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit-icons.min.js"></script> 
</body>
</html>