{% extends 'base.html'%}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'contact/contact.css' %}">
<section class="contact">
    <div class="question_info">
        <h3>Bienvenue chez Novatech <br>
            Votre partenaire de confiance pour booster votre transformation digitale.</h3>
        <p>

            Experts passionnés, nous vous accompagnons dans la création de solutions numériques
            innovantes et sur-mesure pour:

            Développer votre activité,
            Gagner en efficacité,
            Améliorer votre compétitivité.
        </p>
        <p>
            Prêts à relever ensemble les défis du numérique ?<br>

            Contactez-nous dès aujourd'hui !
        </p>

        <p uk-tooltip="Kofi Annan">
            "Le numérique est un outil puissant qui peut être utilisé pour le
            meilleur ou pour le pire. C'est à nous de décider comment nous allons l'utiliser."
        </p>

    </div>
    <div class="supcont">
        <div class="lefte" id="contact_info">
            <h3>Besoin d'un coup de pouce?</h3>
            <ul>
                <li> Notre équipe d'experts est à votre disposition pour répondre à vos questions et vous
                    accompagner dans vos projets numériques.</li>

                <li>
                    Contactez-nous par email à
                    <ul>
                        <li>novatech025@gmail.com</li>
                    </ul>
                </li>
                <li>
                    par téléphone au :
                    <ul>
                        <li>+237651091118</li>
                        <li>+237696552673</li>
                        <li>+237674242398</li>
                        <li>+237696697768</li>
                    </ul>
                </li>

            </ul>
            <h3>Nous sommes impatients de vous entendre !</h3>
            <p>
                "Un projet en tête ? Parlons-en !"<br>
                "Besoin d'un conseil ? Contactez-nous !"<br>
                "N'hésitez pas à nous contacter, nous sommes là pour vous aider !"<br>
                "Votre satisfaction est notre priorité !"
            </p>
        </div>
        <div class="righte" id="form_contact">
            <div class="blog"></div>
            <form class="uk-form-stacked" method="post" action="{% url 'contact:index' %}">
                {% csrf_token %}
                <p id="p1_form">
                    Remplissez ce formulaire et nous vous contacterons
                </p>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">entrez votre nom</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" name="nom">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">adresse email</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="email" name="mail" required>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">votre message</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea" id="form-stacked-text" name="message" required></textarea>
                    </div>
                </div>
                <p>
                    noter que votre adresse e-mail ne sera jamais divulguée.
                </p>
                <div class="uk-margin">
                    <div class="uk-form-controls">
                        <button type="submit" name="envoi_cont" class="envoi_cont">envoyer</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</section>

{% endblock %}